<div class="m-Standard gr">
	<ul class="archive-list">
		<li ng-repeat="page in archive.pages track by $index" ng-class="{'year' : page.url === '' && $index > 0}">
			<div class="proj-name" ng-class="{'case-study' : page.cs == true}"><a ng-href="{{ page.url }}" ng-bind-html="'<span>' + page.title + '</span>'" ng-if="page.url !== ''"></a><span ng-bind-html="page.title" ng-if="page.url === ''"></span></div>
			<div class="proj-cat" ng-if="page.cats.length > 0">
				<span ng-repeat="cat in page.cats">{{cat.name}}<span ng-if="page.cats.length > 1 && $index !== page.cats.length - 1">, </span><span ng-if="page.cats.length > 2 && $index == page.cats.length - 2">and </span> </span>
			</div>
			<a ng-if="page.url !== ''" ng-href="{{ page.url }}" class="overlayLink" ng-mouseenter="archive.hoverImg = page.arcimg.sizes.medium; archive.hoverColor = page.color" ng-mouseleave="archive.hoverImg = null; archive.hoverColor = null;"></a>
		</li>
	</ul>
	<div class="project-preview" ng-show="archive.hoverImg !== null">
		<div class="proj-img" ng-if="archive.hoverImg != null" ng-style="{'background-image':'url(' + archive.hoverImg + ')'}"></div>
	</div>
</div>