<div ng-controller="ClipsController as ClipsCtrl" class="clips-list">
	<div class="gr m-Standard clearfix c-{{work.c}}" ng-if="ClipsCtrl.localData.length > 1" ng-repeat="work in ClipsCtrl.localData" in-view-container>
		<div class="gi g5 o3">
			<div class="clip-text">
				<h1 ng-if="work.c !== 0"><small class="clip-date" ng-bind-html="ClipsCtrl.dateRender(work.date, work.year);"></small><a href="{{ work.url }}" ng-bind-html="work.title"></a></h1>
				<div class="clip-excerpt" ng-if="work.c == 2" ng-bind-html="work.excerpt" ng-show="work.excerpt.length > 5"></div>
			</div>
		</div>
		<div class="hero-content border-{{work.b}}">
			<div class="hero-inner">
				<div class="html-wrap" ng-if="work.hero[0].acf_fc_layout === 'html'" ng-bind-html="ClipsCtrl.trustHTML(work.hero[0].text)"></div>
				<div class="image-wrap" ng-if="work.hero[0].acf_fc_layout === 'image'">
					<img ng-src="{{work.hero[0].image.sizes.large}}">
				</div>
				<div class="video-wrap" ng-if="work.hero[0].acf_fc_layout === 'video'" ng-style="{'padding-bottom': (work.hero[0].arh / work.hero[0].arw) * 100 + '%'}" ng-bind-html="ClipsCtrl.trustHTML(work.hero[0].video)"></div>
			</div>
		</div>

		<div class="gi g5 o3" ng-if="work.c != 2">
			<div class="clip-text">
				<h1 ng-if="work.c === 0"><small class="clip-date" ng-bind-html="ClipsCtrl.dateRender(work.date, work.year);"></small><a href="{{ work.url }}" ng-bind-html="work.title"></a></h1>
				<div class="clip-excerpt" ng-bind-html="work.excerpt" ng-show="work.excerpt.length > 5"></div>
			</div>
		</div>
	</div>
</div>
