$margin: 40px;
$vwM: 3.33333vw;
@import "compass";
@import "normalize";
@import "typography";
@import "mixins";
@import "video";

$blue:#3d8e42;

$bpMobile:736px;
$bpMobMax:735px;

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color:#fff;
	font-family:'Cousine', courier new,sans-serif;
	// @include courier;
}

a {
	text-decoration:none;
	color:inherit;
}

header {
	.logo {
		margin-top:10px;
		h1, img {
			@include inline-block;
		}
	}
	nav {
		position:absolute;
		top:40px;
		right:0;
	}
}