<div class="info-page gr clearfix" ng-controller="InfoController as InfoCtrl">
	<div class="fullVid">
		<vimeo loadapi="true" id="info-video" vid="84093207" mp4="https://player.vimeo.com/external/84093207.hd.mp4?s=ab93592e51da1891a4289d05481d82322e2301a2&profile_id=113" view-play="{{InfoCtrl.viewPlay}}" in-view-options="{}" in-view="InfoCtrl.isInView($inview, $event, $inviewpart);" ui="scroll"></vimeo>
	</div>
	<div class="g3 o5 gi info-left">
		<div class="project-text">
			<p>CHIPS is a studio for design and development founded by partners Dan Shields, Teddy Blanks, and Adam Squires.</p>
			<p>We are currently working with Sean Manchee and Chris Hong.</p>
			<p>Internship inquiries please email <a target="_blank" href="mailto:intern@chips-ny.com">intern@chips-ny.com</a>.</p>
		</div>
		<div class="project-text">
			<p>400 Bedford Avenue<br>Suite 201 <br>Brooklyn, NY 11211 <br>718 302-4477 <br>office@chips-ny.com<br><br><a class="info-ig" target="_blank" href="http://instagram.com/chipsny">Instagram</a><br><a class="info-fb" target="_blank" href="http://facebook.com/chipsny">Facebook</a><br><a class="info-tw" target="_blank" href="http://twitter.com/chipsny">Twitter</a></p>
		</div>
	</div>
</div>